.NewOrder{
  display: block;
  border: .5em inset rgba(240, 248, 255, 0.445);}

.order-row{
  border-bottom: .5em inset rgba(240, 248, 255, 0.445);
  padding-bottom: 0px;
}

.delete-item-btn{
  margin-bottom: 10px;
}

.order-input-form{
  background-color: gray;
}

.order-input-form::active{
  background-color: grey;
}

.order-input-form::placeholder{
  color: aliceblue;
}